section{
	margin: 20px;
}
button{
    background-color: #f1af34;
    border-radius: 6px;
    border: 1px solid gray;
    width: 210px;
    height: 50px;
    line-height: 36px;
    font-weight: 500;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
    margin-right: 10px;
    margin-bottom: 10px;
}
button:hover{
	background-color:#ed8e00; 
}
button:active{
	outline: 0;
	background-color:#f1af34; 
}
button.btn-2:active{
	position: relative;
    top: 5px;
    outline: none;
}
button:focus{
	outline: none;
}

input{
    width: 560px;
    height: 39px;
    border: 1px solid #c7c7c7;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
    color: black;
    padding-left: 5px;
    font-weight: bold;
    font-size: 12px;
}
input:hover{
	background-color: #efefef;
}
input:focus{
	background-color: #576e8b;
	color:white;
}
input::placeholder{
	color:#5f74ae;
	font-size: 12px;
	padding-left: 5px;
	font-weight: 400;
}

.padre{
	display: flex;
	align-items: center;
  	justify-content: center;
	width: 465px;
    height: 300px;
	background-color: #58708b;
}
.hijo{
	width:50px;
	height: 50px;
	background-color: black;
}

.lista ul{
	width: 290px;
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-right: 20px;
}
.lista ul li {
	margin: 0 -10px 5px 0  ; 
	height: 30px;
}
.lista li:nth-child(odd) {
    background-color:#000000;
}
.lista li:nth-child(even) {
    background-color: #557790;
}
.lista ul:nth-child(3){
	columns: 2;
}

.menu ul{
	list-style: none;
	display: inline-block;
	width: 650px;
}
.menu ul li {
	height: 40px;
	width: 200px;
	background-color: #4b8eff;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	color: white;
	font-weight:500;
	font-size: 18px;
	cursor: pointer;
	border-bottom: 3px solid #000000;
}

.menu ul li:hover > ul {
	display: block;
}
.menu ul li ul{
	padding: 0;
	width: 200px;
	display: none;
	position: absolute;
}
.menu ul li ul li{
	display: block;
	border-bottom: 3px solid #689fe1;
}

.menu ul li ul li:nth-child(odd) {
    background-color: #9dceff;
}
.menu ul li ul li:nth-child(even) {
    background-color: #669dde;
}
